Desenvolvimento/CodigoFonte/.vs/**/*
Desenvolvimento/CodigoFonte/obj/**/*
Desenvolvimento/CodigoFonte/packages/**/*
Desenvolvimento/CodigoFonte/Properties/**/*
Desenvolvimento/CodigoFonte/bin/Release/**/*
Desenvolvimento/CodigoFonte/bin/Debug/**/*