Desenvolvimento/CodigoFonte/.vs/**/*
Desenvolvimento/CodigoFonte/obj/**/*
Desenvolvimento/CodigoFonte/packages/**/*
Desenvolvimento/CodigoFonte/Properties/**/*
Desenvolvimento/CodigoFonte/bin/Release/**/*
Desenvolvimento/CodigoFonte/bin/Debug/**/*
Desenvolvimento/CodigoFonte/bin/Debug/gameLearning.exe
Desenvolvimento/CodigoFonte/bin/Debug/gameLearning.pdb
Desenvolvimento/CodigoFonte/obj/Debug/gameLearning.csproj.FileListAbsolute.txt
Desenvolvimento/CodigoFonte/obj/Debug/gameLearning.csproj.GenerateResource.cache
Desenvolvimento/CodigoFonte/bin/Debug/StarWarsLC/allegro.log
